/* CSS spécifique pour les écrans de taille moyenne et grande */
@media (min-width: 768px) {
  section {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  section {
    height: 100vh;
  }
}
.alert {
  border-radius: 0.25rem; /* Arrondi les coins du message d'alerte */
  padding: 1rem; /* Ajoute du rembourrage pour améliorer la lisibilité */
}

